body {
overflow-x: hidden;
background-color: steelblue;
}

.extra-margin {
  margin-top: 100px;
}

.card-img {
  margin: 25px auto;
}

.card {
  padding: 15px;
}

.card-title {
  font-weight: bold;
  font-size: 125%;
}

button {
  width: 75%;
  display: block;
  margin: 15px auto;
}

.descriptive-text {
  text-align: center;
  padding: 10%;
}

figure {
margin: 25px auto;
}

figure img {
  display: block;
  margin: 10px auto;
}

figure figcaption {
text-align: center;
}

footer {
margin-top: 100px;
}

.footer-text {
color: rgba(255, 255, 255, 0.8);
  padding: 25px;
}

.sticky-img{
  position: sticky;
  top: 0;
}
.about-img {
  max-width: 350px;
  max-height: 150px;
  display: block;
  margin: 25px auto;
}
